/************
 * Tooltips *
 ************/
tooltip {
  border: none;
  background-clip: padding-box;
  padding: 6px 12px;
  box-shadow: none;
}

tooltip.background {
  background-color: #EDECEE;
  color: #293A52;
  box-shadow: 0 2px 2.4px -1px rgba(255,255,255,0.2),
    0 4px 3px 0 rgba(255,255,255,0.14), 0 1px 6px 0 rgba(255,255,255,0.12);
  border-radius: 6px;
  margin: 2px 6px 8px 6px;
}

tooltip > box {
  border-spacing: 6px;
}